@import '../../sass/mixins';

.review {
  &__container {
    padding: 5rem 0 10rem 10rem !important;

    @include responsive(mobile)
    {
      padding:4rem 2rem !important;
    }
  }

  &__item {
    width: auto !important;
    &:not(:last-child) {
      margin-right: 3rem !important;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    width: 35rem;
    background-color: var(--color-white);
    box-shadow: 0rem 2rem 5rem rgb(0 0 0 / 10%);
    border-radius: 1rem;
    font-size: 1.5rem;
    padding: 2rem;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 4rem;
    }

    &--3 {
      justify-content: flex-start;
    }
  }

  &__issued {
    font-size: 1.2rem;
  }

  &__para {
    grid-column: 1/-1;
  }

  &__avatar-box {
    display: flex;
    align-items: center;
  }

  &__btn-container {
    display: flex;
    justify-content: end;
  }

  &__btns {
    // position:relative;
    // left: 4%;
    transform: translateX(-100%);

    @include responsive(mobile)
    {
      transform: translateX(-50%);
    }
  }

  &__btn {
    cursor: pointer;
    font-size: 4rem;
    // color: var(--primary-color);
    color: var(--primary-color-dark);
    &:not(:last-child) {
      margin-right: 0.5rem;
    }
  }
}
