:root {
  --primary-color-light: #fca83a;
  --primary-color-dark: #ffa024;
  --secondary-color: #6e6e6e;
  --tertiory-color: #777b7bd5;

  --color-white: #fff;
  --color-black: #000;
  //Font-sizes
  --font-size-h2:2.5rem;
  --font-size-link: 1.7rem;
  --font-size-para: 2rem;
  --font-size-caption:1.5rem;

  //Font-family
  --primary-font-family: "Lato", sans-serif;
}
