.places {
  display: flex;
  justify-content: center;
  &__container {
    margin-top: var(--margin-top);
    margin-bottom: 10rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    grid-auto-flow: row;
    column-gap: 10rem;

    @media (max-width: 1103px) {
      // grid-template-columns: repeat(2, 1fr);
      column-gap: 5rem;
      row-gap: 8rem;
    }

    @media (max-width: 920px) {
      grid-template-columns: repeat(2, 1fr);
      // row-gap: 5rem;
    }

    @media (max-width: 560px) {
      grid-template-columns: repeat(1, 1fr);
      // justify-content: center;
    }
  }

  &__link-box {
    text-align: center;
  }
}
