.para {
  font-size: var(--font-size-para);
  line-height: 1.6;
  color: var(--tertiory-color);

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  &__header {
    max-width: 60%;
    margin: 0 auto;
    white-space: normal;
    color: var(--color-white);
  }
  &__about {
    padding: 1rem 0;
  }

  @media (max-width:400px)
  {
    max-width: 100%;
  }
}
