@import '../../sass/mixins';

.para {
  font-size: var(--font-size-para);
  line-height: 1.6;
  color: var(--tertiory-color);

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  &__header {
    max-width: 60%;
    margin: 0 auto;
    color: var(--color-white);

    @include responsive(mobile)
    {
      max-width: 100%;
    }
  }
  &__about {
    padding: 1rem 0;
  }

}
