.about {
  display: flex;
  align-items: flex-start;
  position: relative;
  margin-top: var(--margin-top);

  &__text-box {
    flex: 0 1 44%;
  }
  &__img-box {
    flex: 0 0 40%;
  }

  &__img-box > img {
    width: 100%;
  }

  @media (max-width: 920px) {
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 5rem;
  }
}
