.card {
  max-width: 35rem;
  background-color: var(--color-white);
  box-shadow: 0rem 2rem 5rem rgba(#000, 0.1);
  padding: 2rem;
  transition: transform 0.3s;

  // &:not(:last-child) {
  //   margin-right: 4rem;
  // }

  &:hover {
    transform: translateY(-1rem) scale(1.05);
  }

  &__img-box {
    display: flex;
    align-items: stretch;
    overflow: hidden;
    box-shadow: 0rem 2rem 5rem rgba(#000, 0.1);
  }

  &__img {
    object-fit: cover;
    width: 100%;
  }

  &__row {
    padding: 0.8rem 0;

    &--2 {
      display: flex;
      align-items: center;
    }

    &--3 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top:1.8rem;
    }
  }

  &__place-name {
    font-size: var(--font-size-h2);
    color: var(--color-black);
    padding-top: 1.5rem;
  }

  &__description {
    display: inline-block;
    font-size: var(--font-size-caption);
    color: var(--secondary-color);
    padding: 0.7rem 0;
  }

  &__place-price {
    // font-size: var(--font-size-h2);
    font-size: 3rem;
    font-weight: 600;
  }

  &__place-price > span {
    font-size: var(--font-size-caption);
    color: var(--tertiory-color);
  }
}
