.card {
  max-width: 35rem;
  background-color: var(--color-white);
  box-shadow: 0rem 2rem 5rem rgba(#000, 15%);
  transition: transform 0.3s;
  padding:1.3rem;
  height: 50rem;
  display: flex;
  flex-direction:column;
  justify-content: space-between;

  &:hover {
    transform: translateY(-1rem) scale(1.05);
  }

  &__img-box {
    display: flex;
    align-items: stretch;
    overflow: hidden;
    box-shadow: 0rem 2rem 5rem rgba(#000, 10%);
    height: 60%;
  }

  &__img {
    object-fit: cover;
    aspect-ratio: 3/2;
    width: 100%;
  }

  &__row {
    &:not(:last-child) {
      padding: 1.3rem 0;
    }

    &--2 {
      display: flex;
      align-items: center;
    }

    &--3 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 2rem;
    }
  }

  &__place-name {
    font-size: var(--font-size-h2);
    color: var(--color-black);
  }

  &__description {
    display: inline-block;
    font-size: var(--font-size-caption);
    color: var(--secondary-color);
  }

  &__place-price {
    font-size: 3rem;
    font-weight: 600;
  }

  &__place-price > span {
    font-size: var(--font-size-caption);
    color: var(--tertiory-color);
  }
}
