.heading {
  &__primary {
    font-size: 4rem;
    font-family: var(--primary-font-family);
    text-transform: capitalize;
    max-width: 40%;
    line-height: 1.6;
    background-image: linear-gradient(
      to right,
      var(--primary-color-light),
      var(--primary-color-dark)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 0.2rem;
    font-weight: 800;

    @media (max-width: 920px) {
      max-width: 100%;
      text-align: center;
    }
  }

  &__secondary {
  }

  &__tertiory {
    text-transform: uppercase;
    color: var(--secondary-color);
    letter-spacing: 1px;
  }

  &__tertiory-feature {
    // margin-bottom: 1.5rem;
  }

  &__about {
    // margin-bottom: 10rem;
  }
}
