.link {
  &,
  &:visited,
  &:link {
    display: inline-block;
    color: var(--primary-color-dark);
    font-size: var(--font-size-link);
    border-bottom: 1px solid var(--primary-color-dark);
    transition: background-color 0.3s, color 0.3s, transform 0.3s,
      box-shadow 0.3s;
    cursor: pointer;
  }

  &__about {
    padding: 0.5rem 0.5rem;
    margin-top: 5rem;
  }

  &:hover {
    background-color: var(--primary-color-dark);
    color: var(--color-white);
    transform: translateY(-2px);
    border-bottom: 1px solid transparent;
    box-shadow: 0rem 1rem 2rem rgba(#000, 0.1);
  }

  &:hover > span {
    transform: translate(3px, 3px);
  }

  & > span {
    display: inline-block;
    transform: translateY(3px);
    transition: transform 0.3s;
  }

  &__places {
    padding: .6rem 1.2rem;
  }
}
