@import "../../sass/mixins";

.header {
  background-image: linear-gradient(to bottom, rgba(#000, 40%), rgba(#000, 50%)),
    url("../../assets/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 2rem;

  &__box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    transform:translateY(-15rem);

    @include responsive(mobile)
    {
      min-height: 55vh;
      transform:translateY(0rem);

    }
  }

  &__box {
    text-align: center;
    color: var(--color-white);
    padding: 0 2rem;
  }

  &__primary-h1 {
    font-size: 5.5rem;
    font-family: var(--primary-font-family);
    font-weight: 900;

    @include responsive(tab)
    {
      margin-bottom: 1rem;
    }
  }

  &__btn-box {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }

  @include responsive(mobile) {
    background-position: revert;
    min-height: 60vh;

    &__box {
      padding: 0;
    }
  }

}
